extends ./../layout

block content
  h1 #{product.name}
  p Inventory: ##{product.inventory}
  p Price: #{product.price}
  h2
    form(type="submit", action="/products/")
      button(type="submit", value="submit") Product List
